.cartasSelecionadas {
    display: flex;
    justify-content: center;
}

.cartasSelecionadas img {
    width: 200px;
    height: 400px;
    flex-basis: 15%;
}

.mao {
    display: flex;
    justify-content: center;
}

.mao img {
    width: 200px;
    flex-basis: 10%;
}

header {
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 100px;
    margin: 10px;
}

footer {
    display: flex;
    justify-content: center;
}