body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
}

nav {
    color: white;
    background-color: rgb(50,50,50);
    display: flex;
    justify-content: start;
    align-items: center;
}

nav a {
    color: white;
    margin: 10px;
}

.nav-img-link {
    width: 25px;
    height: 25px;
}

main {
    margin: 20px;
    background-color: white;
}

footer {
    color: white;
    background-color: rgb(50,50,50);
    display: flex; 
    justify-content: space-evenly;
    margin: 10px;
}

footer a {
    color: white;
    margin: 10px;
}

footer div {
    flex-basis: 25%;
    margin: 10px;
    padding: 10px;
}

.footer-img-link {
    width: 80px;
}

.informacoes {
    display: grid;
}